*.o
*.wasm
ApplicationServer/tmp/*
ApplicationServer/bin/*
ApplicationServer/node_modules/*
ApplicationServer/data/NBDC/*
ApplicationServer/data/hum0013/*
ApplicationServer/data/hum0014/*
ApplicationServer/data/hum0015/*
ApplicationServer/data/hum0029/*
ApplicationServer/data/ex_bed/*.bed
ApplicationServer/data/sample-4/*
ApplicationServer/data/sample-3/*
ApplicationServer/data/sample-2/*